$themes: (
    theme1: (
        appColor: floralwhite,
        backgroundColor: #e8daef,
        selectionColor: #a569bd,
        textColor: black),
    theme2: (
        appColor: #111,
        backgroundColor: #222,
        selectionColor: cadetblue,
        textColor: floralwhite)
);
