@import "core";

@each $theme, $map in $themes {
    .#{$theme} {
        .sidebar {
            height: 100%;
            position: fixed;
            z-index: 1;
            top: 0;
            width: 20%;
            left: -100%;
            background-color: map-get($map, backgroundColor);
            overflow-x: hidden;
            padding-top: 0.5em;
            transition: 0.2s linear;
            border-right: 0.01em solid black;

            &.active {
                left: 0;
            }

            nav {
                a {
                    padding: 0.25em 0.75em;
                    text-decoration: none;
                    border-bottom: 0.05em solid transparent;
                    font-size: 2em;
                    color: map-get($map, textColor);
                    text-shadow: 0.01em 0.01em 0.01em map-get($map, textColor),
                                 0.1em 0.1em 0.01em map-get($map, backgroundColor);
                    display: block;
                    transition: color 0.3s, border-color 0.5s;
                }

                a:hover {
                    color: map-get($map, selectionColor);
                    border-color: map-get($map, selectionColor);
                }
                a:hover::before {
                    content: ">";
                }
            }
        }

        .colorbar {
            height: 100%;
            border-left: 3em solid map-get($map, backgroundColor);
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            border-right: 0.01em solid black;

        }

        .Menu-button {
            height: 100%;
            left: 0;
            color: map-get($map, textColor);
        }

        .openbtn {
            font-size: 1.5em;
            margin-left: 0;
            cursor: pointer;
            background-color: map-get($map ,backgroundColor);
            color: map-get($map, textColor);
            padding: 0.25em 0.5em;
            border: 0.01em solid black;
            transition: 0.2s linear;

            &.active {
                margin-left: 20%;
            }
        }

        .openbtn:hover {
            background-color: map-get($map, selectionColor);
        }

        .themebtn {
            border: 2px solid map-get($map, textColor);
            background-color: map-get($map, backgroundColor);
            color: map-get($map, textColor);
            margin: 0.5em auto;
            display: block;
            font-size: 1.75em;
            text-decoration: none;
            text-shadow: 1px 1px 1px black;
            transition-duration: opacity 2s, 0.3s;
        }

        .themebtn:hover {
            background-color: map-get($map, selectionColor);
            color: map-get($map, backgroundColor);
        }

        .themebtn:active {
            background-color: map-get($map, backgroundColor);
            color: map-get($map, selectionColor);
        }
    }
}

@media screen and (max-width: 600px) {
    @each $theme, $map in $themes {
        .#{$theme} {
            .sidebar {
                width: 80%;            
            }

            .openbtn {
                &.active {
                    margin-left: 80%;
                }
            }
        }
    } 
}

@media screen and (min-width: 1080px) {
    @each $theme, $map in $themes {
        .#{$theme} {
            .sidebar {
                width: 15%;
            }

            .openbtn {
                &.active {
                    margin-left: 15%;
                }
            }
        }
    }
}

@media screen and (min-width: 2160px) {
    @each $theme, $map in $themes {
        .#{$theme} {
            .sidebar {
                width: 8%;
            }

            .openbtn {
                &.active {
                    margin-left: 8%;
                }
            }
        }
    }
}

