@import 'core';

::-moz-selection {
    background: coral;
    color: floralwhite;
    text-shadow: none;
}
::-selection {
    background: coral;
    color: floralwhite;
    text-shadow: none;
}

hr {
    border-top: 0.01em double black;
    margin: 0.5em 0 0 0;
}

header {
    text-align: center;
    font-family: monospace, times, serif;
    font-size: 2em;
    text-decoration: none;
    display: block;
    padding: 0.5em 0 0 0;
}

@each $theme, $map in $themes {

    .#{$theme} {
        header {
            background-color: map-get($map, backgroundColor);
                color: map-get($map, textColor);
                text-shadow: 2px 2px 1px floralwhite,
                             2px 2px 1px cadetblue;
        }
    }
}
