.theme1 .sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #e8daef;
  overflow-x: hidden;
  padding-top: 0.5em;
  transition: 0.5s;
  border-right: 0.01em solid black;
}
.theme1 .sidebar nav a {
  padding: 0.25em 0.75em;
  text-decoration: none;
  border-bottom: 0.05em solid transparent;
  font-size: 2em;
  color: black;
  text-shadow: 0.01em 0.01em 0.01em black, 0.1em 0.1em 0.01em #e8daef;
  display: block;
  transition: color 0.3s, border-color 0.5s;
}
.theme1 .sidebar nav a:hover {
  color: #a569bd;
  border-color: #a569bd;
}
.theme1 .sidebar nav a:hover::before {
  content: ">";
}
.theme1 .colorbar {
  height: 100%;
  border-left: 3em solid #e8daef;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-right: 0.01em solid black;
}
.theme1 .Menu-button {
  height: 100%;
  left: 0;
  color: black;
}
.theme1 .openbtn {
  font-size: 1.5em;
  margin-left: 0;
  cursor: pointer;
  background-color: #e8daef;
  color: black;
  padding: 0.25em 0.5em;
  border: 0.01em solid black;
  transition: 0.5s;
}
.theme1 .openbtn:hover {
  background-color: #a569bd;
}
.theme1 .themebtn {
  border: 2px solid black;
  background-color: #e8daef;
  color: black;
  margin: 0.5em auto;
  display: block;
  font-size: 1.75em;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  transition-duration: opacity 2s, 0.3s;
}
.theme1 .themebtn:hover {
  background-color: #a569bd;
  color: #e8daef;
}
.theme1 .themebtn:active {
  background-color: #e8daef;
  color: #a569bd;
}

.theme2 .sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #222;
  overflow-x: hidden;
  padding-top: 0.5em;
  transition: 0.5s;
  border-right: 0.01em solid black;
}
.theme2 .sidebar nav a {
  padding: 0.25em 0.75em;
  text-decoration: none;
  border-bottom: 0.05em solid transparent;
  font-size: 2em;
  color: floralwhite;
  text-shadow: 0.01em 0.01em 0.01em floralwhite, 0.1em 0.1em 0.01em #222;
  display: block;
  transition: color 0.3s, border-color 0.5s;
}
.theme2 .sidebar nav a:hover {
  color: cadetblue;
  border-color: cadetblue;
}
.theme2 .sidebar nav a:hover::before {
  content: ">";
}
.theme2 .colorbar {
  height: 100%;
  border-left: 3em solid #222;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-right: 0.01em solid black;
}
.theme2 .Menu-button {
  height: 100%;
  left: 0;
  color: floralwhite;
}
.theme2 .openbtn {
  font-size: 1.5em;
  margin-left: 0;
  cursor: pointer;
  background-color: #222;
  color: floralwhite;
  padding: 0.25em 0.5em;
  border: 0.01em solid black;
  transition: 0.5s;
}
.theme2 .openbtn:hover {
  background-color: cadetblue;
}
.theme2 .themebtn {
  border: 2px solid floralwhite;
  background-color: #222;
  color: floralwhite;
  margin: 0.5em auto;
  display: block;
  font-size: 1.75em;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  transition-duration: opacity 2s, 0.3s;
}
.theme2 .themebtn:hover {
  background-color: cadetblue;
  color: #222;
}
.theme2 .themebtn:active {
  background-color: #222;
  color: cadetblue;
}

/*# sourceMappingURL=Menu.css.map */
